# Created by https://www.toptal.com/developers/gitignore/api/pulumi,helm
# Edit at https://www.toptal.com/developers/gitignore?templates=pulumi,helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

### Pulumi ###
# Ignore temp build directory for Pulumi
# Info: https://www.pulumi.com/docs/

.pulumi/

# End of https://www.toptal.com/developers/gitignore/api/pulumi,helm

/pulumi-example
